<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @post.titulo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @post.conteudo %>
</p>

<p>
  <b>Comentários:</b>
    <% @post.comentarios.each do |c| %>
      <p><%= c.autor %></p>
      <p><%= c.texto %></p>
    <% end %>
</p>

<h2><%=label_tag :adicionar_comentario%></h2>

<%= form_for([@post, @post.comentarios.build]) do |f| %>
  <%= f.label :autor %>
  <%= f.text_field :autor %><br />
  <%= f.label :texto %>
	<%= f.text_field :texto %><br />
  <%= f.submit%>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
